* {
  box-sizing: border-box;
}

#body {
  padding-bottom: 50px;
}

body::-webkit-scrollbar {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  height: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
}

.nav--image {
  height: 30px;
  margin-right: 10px;
}

.logo {
  display: flex;
}

.logo:hover {
  cursor: pointer;
}

.nav--buttons {
  position: absolute;
  right: 2%;
}

.nav--buttons > button {
  margin-left: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 700;
  letter-spacing: 1px;
}

.nav--buttons > button:hover {
  /* background-color: lightgrey; */
  color: grey;
}

.color-overlay {
  height: 500px;
  width: 100%;
  color: #fff;
  background: linear-gradient(rgba(0, 100, 255, 0.45), rgba(0, 100, 255, 0.45));
  text-align: center;
  font-size: 30px;
  letter-spacing: 4px;
}

.color-overlay > h1 {
  padding: 150px;
  height: 10px;
}

.color-overlay > button {
  font-size: 20px;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  width: 150px;
  height: 40px;
}

.color-overlay > button:hover {
  background-color: lightgrey;
  cursor: pointer;
  transition: 0.2s;
}

.intro {
  display: flex;
}

.content {
  width: 60%;
  margin-left: 50px;
  margin-top: 20px;
}

.content > p {
  margin-top: 10px;
}

.intro--image {
  height: 200px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-top: 10px;
}

.bottombar {
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin-top: 10px;
  background-color: #424242;
  color: #fff;
  text-align: center;
  bottom: 0;
}

.contacts {
  height: calc(100vh - 190px);
  text-align: center;
  margin-top: 50px;
}

.contact {
  margin-top: 30px;
}
